<ion-content>

  <ion-row class="full-height">
    <ion-img class="full-height full-width" src="/assets/imgs/paymex_bg.png"></ion-img>
  </ion-row>


  <ion-footer padding>
    <ion-row>

      <ion-item>
        <ion-input type="number" placeholder="Enter mobile" [(ngModel)]="data.mobile"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="password" placeholder="Enter Password" [(ngModel)]="data.password"></ion-input>
      </ion-item>

      <button ion-button full (click)="login()">LOG ME IN</button>

    </ion-row>

    <ion-row>

      <ion-col col-6>
        <ion-label color="light">Not yet a member?</ion-label>
        <ion-label color="primary" (click)="register()">Register Here</ion-label>
      </ion-col>

      <ion-col col-6>
        <ion-label color="light" (click)="forgotPassword()" text-right>Forgot Password</ion-label>
      </ion-col>

    </ion-row>
  </ion-footer>

</ion-content>
