<ion-content>

  <ion-item>
    <ion-label>
      <i class="fa fa-filter" aria-hidden="true"></i>
      Filter
    </ion-label>
    <ion-select [(ngModel)]="filter">
      <ion-option value="all">All</ion-option>
      <ion-option value="consumed">Consumed</ion-option>
      <ion-option value="cancelled">Cancelled</ion-option>
    </ion-select>
  </ion-item>

  <ion-row>

      <ion-card *ngFor="let activity of activities">
        <ion-card-content>
          <ion-item>
            <ion-label class="text-bold">{{activity.name}}</ion-label>
            <ion-label class="text-bold" text-right>P{{activity.amount}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label color="light">{{activity.date}}</ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>

  </ion-row>

</ion-content>
