<!--
  Generated template for the KeySendPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Send Key</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-row class="section-p">
    <ion-label class="header-text">
      Share your credit card
    </ion-label>
  </ion-row>

  <ion-row class="section-p">

    <ion-item>
      <ion-label floating>Enter mobile number</ion-label>
      <ion-input type="number" [(ngModel)]="data.mobile"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Enter amount to send</ion-label>
      <ion-input type="number" [(ngModel)]="data.granted_amount"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Description</ion-label>
      <ion-input type="text" [(ngModel)]="data.description"></ion-input>
    </ion-item>

  </ion-row>

  <ion-footer padding>
    <ion-row>
      <button ion-button full (click)="sendKey()">Send Key</button>
    </ion-row>
  </ion-footer>
</ion-content>
