<!--
  Generated template for the RegistrationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Create Your Account</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-row>

    <ion-item>
      <ion-label floating>Mobile Number</ion-label>
      <ion-input type="number" [(ngModel)]="registration.mobile"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Email Address</ion-label>
      <ion-input type="text" [(ngModel)]="registration.email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>First Name</ion-label>
      <ion-input type="text" [(ngModel)]="registration.first_name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Last Name</ion-label>
      <ion-input type="text" [(ngModel)]="registration.last_name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Birthday</ion-label>
      <ion-datetime displayFormat="YYYY-MM-DD" pickerFormat="MMM DD YYYY" [(ngModel)]="registration.birth_date"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input type="password" [(ngModel)]="registration.password"></ion-input>
    </ion-item>


  </ion-row>

  <ion-footer padding>
    <ion-row>
      <button ion-button full (click)="register()">SIGN ME UP</button>
    </ion-row>
  </ion-footer>
</ion-content>
