<ion-header>
  <ion-navbar>
    <ion-title>
      PAYMEX
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="header-details">

    <ion-row>

      <ion-col col-6>
        <ion-label color="light">Your card details</ion-label>
      </ion-col>

      <ion-col col-6>
        <ion-buttons end>
          <button color="light" ion-button icon-left clear small>
            <i class="fa fa-pencil" aria-hidden="true" end></i>
          </button>
        </ion-buttons>
      </ion-col>

    </ion-row>

    <ion-row class="card-details">
      <ion-col col-12 center text-center>
        <ion-label class="card-text-b" color="white">John Doe</ion-label>
        <ion-label class="card-text"  color="light">*** *** *** *** 907</ion-label>
      </ion-col>
    </ion-row>

  </div>

  <ion-list>
    <ion-card (click)="navigate(1)">

      <ion-card-header>
        <ion-item>
          <i class="fa fa-paper-plane fa-p" aria-hidden="true"></i>
          Send Key
        </ion-item>
      </ion-card-header>

      <!--<ion-card-content>-->
      <!--Add card content here! -->
      <!--</ion-card-content>-->

    </ion-card>

    <ion-card (click)="navigate(2)">

      <ion-card-header>
        <ion-item>
          <i class="fa fa-share-square-o fa-p" aria-hidden="true"></i>
          Request Key
        </ion-item>
      </ion-card-header>

    </ion-card>

    <ion-card (click)="navigate(3)">

      <ion-card-header>
        <ion-item>
          <i class="fa fa-calendar-check-o fa-p" aria-hidden="true"></i>
          See Activities
        </ion-item>
      </ion-card-header>

    </ion-card>

    <ion-card (click)="navigate(4)">

      <ion-card-header>
        <ion-item>
          <i class="fa fa-file-text fa-p" aria-hidden="true"></i>
          Billing Settings
        </ion-item>
      </ion-card-header>

    </ion-card>

    <ion-card (click)="navigate(5)">

      <ion-card-header>
        <ion-item>
          <i class="fa fa-exclamation-circle fa-p" aria-hidden="true"></i>
          Pending Key Request
          <ion-badge color="danger" item-end>8</ion-badge>
        </ion-item>
      </ion-card-header>

    </ion-card>

    <ion-card (click)="navigate(6)">

      <ion-card-header>
        <ion-item>
          <i class="fa fa-key fa-p" aria-hidden="true"></i>
          Unconsumed Keys
          <ion-badge color="secondary" item-end>10</ion-badge>
        </ion-item>
      </ion-card-header>

    </ion-card>
  </ion-list>

</ion-content>
