page-home {
  .header-details {
    background-color: #FE763A;
    padding: 10px;
  }
  .card-details {
    padding: 30px;
  }

  .card-text {
    font-size: 20px;
  }

  .card-text-b {
    font-weight: bold;
    font-size: 24px;
  }

  .fa-p {
    padding: 7px !important;
    padding-left: 0px !important;
  }
}
