<!--
  Generated template for the ActivitiesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Activity Page</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-tabs>
    <ion-tab tabTitle="Sent" [root]="sentTab"></ion-tab>
    <ion-tab tabTitle="Received" [root]="receivedTab"></ion-tab>
  </ion-tabs>
</ion-content>

