<!--
  Generated template for the PendingRequestPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Pending Requests</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-row>

    <ion-card *ngFor="let activity of activities" (click)="itemClick(activity)">
      <ion-card-content>
        <ion-row center>
          <ion-col col-8>
            <ion-label class="text-bold">{{activity.receiver}}</ion-label>
            <ion-label color="light">{{activity.createdAt}}</ion-label>
          </ion-col>
          <ion-col col-4 class="activity-status">
            <ion-label color="primary" text-right>PENDING</ion-label>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

  </ion-row>

</ion-content>
