<!--
  Generated template for the KeyRequestPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Request Key</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-row>
    <ion-label class="header-text">
      Enter request key details
    </ion-label>
  </ion-row>

  <ion-row>

      <ion-item>
        <ion-label floating>Request from mobile</ion-label>
        <ion-input type="number" [(ngModel)]="data.mobile"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>First name</ion-label>
        <ion-input type="text" [(ngModel)]="data.first_name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Last name</ion-label>
        <ion-input type="text" [(ngModel)]="data.last_name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Description</ion-label>
        <ion-input type="text" [(ngModel)]="data.description"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Amount</ion-label>
        <ion-input type="number" [(ngModel)]="data.granted_amount"></ion-input>
      </ion-item>

  </ion-row>

  <ion-footer padding>
    <ion-row>
      <button ion-button full (click)="requestKey()">Request Key</button>
    </ion-row>
  </ion-footer>
</ion-content>
