<!--
  Generated template for the BillingSettingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Billing Settings</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-row>
    <ion-label class="header-text">
      Edit Credit Card Details
    </ion-label>
  </ion-row>

  <ion-row>

      <ion-item class="section-p-2">
        <ion-label floating>Card Type</ion-label>
        <ion-select [(ngModel)]="cart_type" interface="popover">
          <ion-option value="none">None</ion-option>
          <ion-option value="visa">VISA</ion-option>
        </ion-select>
      </ion-item>

      <ion-item class="section-p-2">
        <ion-label floating>Card Number</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>




      <ion-row class="section-p-2">


        <ion-col col-12>
          <ion-label>Expiry Date</ion-label>
        </ion-col>
        <ion-col col-6>

          <ion-item class="section-p-2">
            <ion-label color="white" floating>Month</ion-label>
            <ion-select [(ngModel)]="cart_type" interface="popover">
              <ion-option value="1">01</ion-option>
              <ion-option value="2">02</ion-option>
              <ion-option value="3">03</ion-option>
              <ion-option value="4">04</ion-option>
              <ion-option value="5">05</ion-option>
              <ion-option value="6">06</ion-option>
              <ion-option value="7">07</ion-option>
              <ion-option value="8">08</ion-option>
              <ion-option value="9">09</ion-option>
              <ion-option value="10">10</ion-option>
              <ion-option value="11">11</ion-option>
              <ion-option value="12">12</ion-option>
            </ion-select>
          </ion-item>

        </ion-col>
        <ion-col col-6>

          <ion-item class="section-p-2">
            <ion-label color="white" floating>Year</ion-label>
            <ion-select [(ngModel)]="year" interface="popover">
              <ion-option value="1">2026</ion-option>
              <ion-option value="1">2026</ion-option>
              <ion-option value="1">2026</ion-option>
              <ion-option value="1">2026</ion-option>
            </ion-select>
          </ion-item>

        </ion-col>
      </ion-row>


  </ion-row>

  <ion-footer padding>
    <ion-row>
      <button ion-button full>Save Changes</button>
    </ion-row>
  </ion-footer>
</ion-content>
