<!--
  Generated template for the OtpVerificationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Verify OTP</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-row>
    <ion-label text-center color="primary">
      <i class="fa fa-commenting-o fa-5x" aria-hidden="true"></i>
    </ion-label>
  </ion-row>
  <ion-row>
    <ion-label class="header-text text-bold" text-center>You're almost done</ion-label>
  </ion-row>
  <ion-row>
    <ion-label class="header-text text-bold" text-center>Check your mobile!</ion-label>
  </ion-row>
  <ion-row>
    <p class="header-text" color="light" text-center>Enter the OTP we sent to your mobile. Below to verify your mobile number</p>
  </ion-row>

  <ion-row>
    <ion-item>
      <ion-label floating text-center>Mobile Number</ion-label>
      <ion-input class="center" type="text"></ion-input>
    </ion-item>
  </ion-row>

  <ion-footer padding>
    <ion-row>
      <button ion-button full (click)="verify()">Verify OTP</button>
    </ion-row>
  </ion-footer>
</ion-content>
