<!--
  Generated template for the UnconsumedKeysPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Uncomsumed Keys</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-row>

    <ion-card *ngFor="let activity of activities" (click)="itemClick(activity)">
      <ion-card-content>
        <ion-item>
          <ion-label class="text-bold">{{activity.receiver}}</ion-label>
          <ion-label class="text-bold" text-right>P{{activity.grantedAmount}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label color="light">{{activity.createdAt}}</ion-label>
          <ion-label color="dark" text-right>Expires in {{activity.daysRemaining}} days</ion-label>
        </ion-item>
        <ion-item>
          <ion-label color="primary">{{activity.key}}</ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>

  </ion-row>
</ion-content>
